./language/Arabic/              @openmultiplayer/ops
./language/Croatian/            @openmultiplayer/ops
./language/Dutch/               @openmultiplayer/ops
./language/English/             @openmultiplayer/ops
./language/Estonian/            @openmultiplayer/ops
./language/French/              @openmultiplayer/ops
./language/Georgian/            @openmultiplayer/ops
./language/German/              @pkfln
./language/Greek/               @openmultiplayer/ops
./language/Hungarian/           @openmultiplayer/ops
./language/Indonesian/          @Se8870
./language/Italian/             @openmultiplayer/ops
./language/Japanese/            @openmultiplayer/ops
./language/Lithuanian/          @openmultiplayer/ops
./language/Norwegian/           @openmultiplayer/ops
./language/Polish/              @openmultiplayer/ops
./language/Portuguese/          @openmultiplayer/ops
./language/Romanian/            @openmultiplayer/ops
./language/Russian/             @openmultiplayer/ops
./language/SimplifiedChinese/   @openmultiplayer/ops
./language/Spanish/             @openmultiplayer/ops
./language/TraditionalChinese/  @openmultiplayer/ops
./language/Turkish/             @openmultiplayer/ops
./language/Ukrainian/           @openmultiplayer/ops
./language/Vietnamese/          @openmultiplayer/ops
./language/Serbian/             @Mergevos
./language/Thai/                @aktah
./language/Bosnian/             @daddyDOT
