body,
html,
#__next {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 640px auto;
  grid-template-rows: 60px auto 100px;
  padding: 0 10px 0 10px;
}

@media all and (max-width: 730px) {
  .container {
    grid-template-columns: auto 1fr auto;
  }

  .lang-list:hover {
    background-color: #d1cec8;
  }

  .lang-list:hover .lang-flag-selected {
    border: 1px solid #161f2b;
  }
}

main {
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-family: english-grotesque, sans-serif;
  font-style: normal;
  color: #e0e0e0;
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  text-align: center;
  padding: 10px;

  bottom: 0px;
  font-family: english-grotesque, sans-serif;
  font-size: 10pt;
  color: #e0e0e0;
}

.header {
  text-align: center;
}

.content {
  text-align: center;
}

h1 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  font-size: 3em;
}

p {
  margin: 0 0 0 0;
  line-height: 1.8;
  text-align: justify;
}

li {
  text-align: justify;
}

a {
  color: #e0e0e0;
}

a:hover {
  color: hsl(40, 48%, 64%);
}

hr {
  margin: 40px;
  border-style: solid;
  opacity: 0.2;
}

.center {
  text-align: center;
}

.icon {
  padding-left: 20px;
  padding-right: 20px;
}

.icon a {
  color: currentColor;
}

.icon :hover {
  color: hsl(100, 48%, 64%);
}

.menu-content {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  align-self: start;
  justify-self: right;
  z-index: 2;
}

.lang-list {
  display: grid;
  text-align: center;
  padding: 20px;
  grid-template-columns: 25% 25% 25% 25%;
  border-radius: 10px;
}

.lang-flag {
  padding: 10px;
  display: none;
  font-size: 35px;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.lang-flag span {
  position: relative;
}

.lang-list:hover .lang-flag,
.lang-list .lang-flag-selected {
  display: block;
}

.lang-list:hover .lang-flag-selected {
  background-color: #e0e0e0;
}

.lang-flag:hover {
  background-color: #ff3200;
}

.wordmark:hover {
  cursor: pointer;
  fill: white;
}

.progress-item {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: hsla(0deg, 100%, 100%, 10%);
  margin: 10px 0px 10px 0px;
  text-align: left;
}

.progress-item-icon {
  fill: hsla(0deg, 100%, 100%, 80%);
  display: inline;
  padding-right: 0.2em;
}
.progress-item-header {
  line-height: 1;
  padding: 10px 20px 1px 20px;
  margin: 2px 0px 0px 0px;
}
.progress-item-separator {
  border-bottom: 1px solid #e0e0e0;
  margin: 0px;
  width: 100%;
  opacity: 0.2;
}

.progress-item-body {
  padding: 10px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
}
.progress-item-date {
  color: hsla(0deg, 100%, 100%, 50%);
  font-size: 80%;
  padding: 0px 20px 10px 20px;
  margin: 0px 0px 2px 0px;
}
.progress-item-body-state {
  text-align: right;
}
.progress-item-state {
  border-radius: 5px;
  background-color: white;
  color: black;
  display: inline;
  padding: 2px 4px 2px 4px;
}
.progress-item-state-merged {
  background-color: green;
  color: white;
}
.progress-item-state-closed {
  background-color: red;
  color: white;
}

.progress-item-period-timeline {
  border-left-style: dashed;
  border-left-width: 1px;
  display: inline;
  color: hsla(0deg, 100%, 100%, 8%);
}
.progress-item-period-time {
  padding: 5px;
  color: hsla(0deg, 100%, 100%, 50%);
  font-size: 10pt;
}
