body,
html,
#__next {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  width: 100%;
  background-color: #161f2b;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 640px auto;
  grid-template-rows: 1fr 400px 2fr;
  padding: 0 10px 0 10px;
}

@media all and (max-width: 730px) {
  .container {
    grid-template-columns: auto 1fr auto;
  }
}

main {
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-family: english-grotesque, sans-serif;
  font-style: normal;
  color: #d1cec8;
}

.header {
  text-align: center;
}

.content {
  text-align: center;
}

h1 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  font-size: 3em;
}

p {
  margin: 0 0 0 0;
  line-height: 1.8;
}

a {
  color: #d1cec8;
}

a:hover {
  color: #ff3200;
}

hr {
  margin: 40px;
  border-style: solid;
  opacity: 0.2;
}

.icon {
  padding-left: 20px;
  padding-right: 20px;
}

.icon a {
  color: currentColor;
}

.icon :hover {
  color: #fff;
}

.lang-list {
  text-align: center;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
}

.lang-flag {
  padding: 10px;
  display: none;
  font-size: 35px;
  user-select: none;
  cursor: pointer;
  width: 55px;
  height: 35px;
  border-radius: 20px;
  color: #161f2b;
}

.lang-flag span {
  position: relative;
  top: -5.5px;
}

.lang-list:hover .lang-flag,
.lang-list .lang-flag-selected {
  display: block;
}

.lang-flag-selected {
  color: #161f2b;
  border-radius: 20px;
  background-color: #d1cec8;
}

.lang-flag:hover {
  background-color: #ff3200;
}

#home-link:hover .cls-1,
#home-link:hover .cls-2,
#home-link:hover .cls-3,
#home-link:hover .cls-5,
#home-link:hover .cls-7 {
  stroke: #ff3200;
}

